/* Styling for all quantity inputs for products */
.productQuantityInput {
    margin: 10px;
    flex-grow: 1;
    max-width: 40px;
    color: #1d2124;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    font-family: "SoDoSans", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}