/* Styling for all product card titles */
.productCardTitle {
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 150px;
    height: 60px;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}